/*
	Nuestra hoja de estilos principal
	@author Eder Ib��ez Rojo
	@version 1.0
	@fecha 27.06.2019
	
	1. Reset          - resetear estilos del user-agent.
	2. Etiquetas      - dar estilo base a todas las etiquetas.
	3. Clases comunes -
	4. Layouts        - Secciones de la web (cabecera, men�s, pies, ...)
	5. Media queries  -  para responsive web design. 
*/

 /*************************************************************************
  *                                                                       *
  * 1. Reset
  * 
  *************************************************************************/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


 /*************************************************************************
  *  1.5. Clearfix
  *************************************************************************/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

 /*************************************************************************
  *  2. Etiquetas
  *************************************************************************/
body{
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
    font-size: 1rem;
    font-weight: 400; /* grosor */
    line-height: 1.5; /* separaci�n entre l�neas */
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	color: #003580;
	font-weight: 700;
	line-height: 1.25;
}
  
h1 {
	font-size: 3em;
}

h2{
	color: #2f363c;
	font-size: 1.5em;
	
}

.text-danger {
	color: red;
}

ol, ul{
	list-style-type: none;
}

li{
	padding-left: 2em;
}


a, a:visited{
	color:#0358d8;
	text-decoration: none;
}

p{
	text-indent: 20px;
	margin-bottom: 1em;
	text-align: left;
}

p a{
	text-decoration: underline;
}

.parrafo{
	font-family: 'Barriecito', cursive;
	text-indent: 50px;
}

p1{
	line-height: 1em;
	color: peru;
	letter-spacing: 1em;
	text-align: left;
}

p2{
	line-height: 2em;
	color: red;
	letter-spacing: 2em;
	text-align: center;
}

p3{
	line-height: 3em;
	color: orange;
	letter-spacing: 3em;
	text-align: right;
}

.parrafo::first-line{
	font-size:80px;
	color:rgba(23, 95, 88, 1);
}

img{
	width:100%;
	height: auto;
}

header#principal{
	background-color: rgb(0, 53, 128);
	color: white;
	padding: 10px 0 11px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

footer#main{
	background-color: rgb(148, 144, 145);
	box-sizing: border-box;
	padding: 20px;
	margin-top: 30px;
	/*height:50px;*/
	position: fixed;
	bottom: 0;
	width: 100%;
}

code, pre {
    background: #d1ddef;
    color: #333;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 14px;
    font-size-adjust: .5;
}

form fieldset{
	border:1px double black;
	padding: 20px;
}

form legend{
	padding: 10px;
}

label{
	color: #003580;
	margin-right: 15px;
	display: inline-block;
  	width: 150px;
    text-align: right;
}

label::after{
	content: ": ";
}

label.no-points::after{
	content: "";
}

label.obligatorio::before{
	content: "* ";
}

input[type="text"], input[type="number"], input[type="email"]{
	border:none;
	border-bottom: 1px solid #000;
	padding:5px 10px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus{
	font-size: 1.5em;
}

input[type="text"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid{
	color: #f96500;
	border-color: #f96500;
}

input[type="text"]:valid, input[type="number"]:valid, input[type="email"]:valid{
	color:  #003580;
	border-color: #003580;
}

input[type="submit"], input[type="reset"]{
	background-color: #003580;
	color: #FFF;
	border-radius:10px;
	border:none;
	margin-top: 3em;
	padding: 10px;
}

input[type="submit"]:hover{
	background-color:rgb(209, 221, 239);
}
input[type="submit"]:after{
	padding-right: 6em;;
}

input[type="reset"]{
	background-color:#f96500;
}

input[type="reset"]:hover{
	background-color:rgb(209, 221, 239);
}

article{
	border: 1px solid black;
	padding:10px;
	width:50%;				
}

article p{
text-align: justify;
}

article img{
	width:150px;
	height: auto;
	float:left;
	margin: 0 15px 10px 0;
}

.fecha-derecha{
	float: right;
	padding-bottom: 10px;
}

article footer p{
	background-color: rgba(128, 128, 128, 0.5);
	padding: 1em 2em;
}

strong{
	font-weight: bold;
}

em {
    font-style: italic;
}

/*************************************************************************
  *  3. Clases comunes
  *************************************************************************/


.active{  
    background: #003580;
    border-radius: 10px;
    color: #FFF !important;
    padding: 10px 5px;
    
}

.boton-subir{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	background-color: #003580;
	border: 3px solid #000;
	border-radius: 50%;
	color: rgb(209, 221, 239);
	font-size: 25px;
	padding: 15px;
	-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.centrado{
	display: flex;
    justify-content: center;
}


/*************************************************************************
  *  4. Layouts
  *************************************************************************/

.content{
	max-width: 1024px;
	margin: auto;	/* Centrado en horizontal. */
}

main.content{
	margin-top: 130px;
	margin-bottom:100px;
	min-height: 800px;
}

nav.content{
	max-width: 1024px;
	margin: auto;
	font-weight: 600;
}


.wrapper-nav{
	background-color: #f7f7f7;
	width: 100%;
	background: #f7f7f7;
	border-bottom: 1px solid #dee0e2;
	color: #003580;
	top:80px;
	left:0;
	position: fixed;
	padding: 15px 0;
	width: 100%;
	text-align: left;
	
}

.wrapper-nav a {
	color: #003580;
	line-height: 1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

/*.wrapper-nav a .active {
    background: #003580;
    border-radius: 2px;
    color: #FFF !important;
    padding: 3px 8px;
}*/

header#principal #parteTitulo1{
	color:rgb(255, 255, 255);
	text-transform: lowercase;
}

header#principal #parteTitulo2{
	color:rgb(209, 221, 239);
	text-transform: lowercase;
}


#menu ul {
	display: flex;
}

#menu ul li{
	margin-right: 10px;
	padding-left: 0;
}

#menu ul li::last-child{
	margin-right: 0;
}




/*************************************************************************
  *  5. Media Queries & 
  *************************************************************************/

  /* Mobile L */
@media (max-width: 425px), (orientation: landscape) and (max-width: 768px){

	header#principal {
		padding-left: 2em;
	}
	
	footer#main {
		position: relative;
	}

	.boton-subir {
		right: 0.25em;
		bottom: 0.25em;
		font-size: 1em;
		padding: 5px;
	}

	#menu ul {
		justify-content: space-around;
	}

	h1{
		font-size: 2em;
	}
	
	h2{
		font-size: 1.5em;
	}
	
	h3{
		font-size: 1.5em;
	}

	main.content{
		padding: 1em;
		margin-top: 115px;
	}

	.wrapper-nav{
		top: 60px;
	}
}

@media (orientation: landscape) and (max-width: 768px){
	main.content{
		background-color: teal;
	}
}